<!--inclde header-->
<%-include('header')%>


<main id="site-main">
    <div class="container">
        <a href="/" class="text-center"><i class="fas fa-angle-double-left mt-2"></i> All Users</a>
        <div class="sm-title text-center mt-5 p-2">
            <h3>Add Client</h3>
            <p class="leaad">Use the below form to add a client</p>
        </div>

        <div class="message"></div>

        <!-- add user form -->
        <%-include('form')%>


    </div>
</main>




















<!--includ footer-->

<%-include('footer')%>