<!--inclde header-->
<%-include('header')%>

<main id="site-main">
  <div class="container">
    <a href="/add"><i class="fas fa-user mt-2"></i> New User</a>

    <div class="message"></div>


    <table class="table mt-3">
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th>Address</th>
          <th>Medication</th>
          <th>Carer Name</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <!--Show clients here-->
        <%-include('show')%>

      </tbody>
    </table>






  </div>
</main>

<!--includ footer-->

<%-include('footer')%>